Imports

In [551]:
import pandas as pd
import numpy as np

Constants

In [552]:
CD_CONTA = 'Código da Conta'

User defined functions

In [553]:
def higher_tier_rows(data_frame):
    len_key = [len(key) for key in data_frame[CD_CONTA]]   # len_key = length of key
    min_len = np.array(len_key).min()  # min_len = minimum length
    ind_min_len = np.where(len_key==min_len)  # ind_min_len = index of key 'Código da Conta' with minimum length
    return ind_min_len

In [554]:
try:
    df = pd.read_csv('Financial_Statement.csv', sep=';')
except Exception as e:
    print(f"Error: {e}")

In [555]:
df

,Código da Conta,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,Ativo Total,2.775.558,2.369.285
1,1.01,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Contas a Receber,258.104,206.005
4,1.01.03.01,Clientes,258.104,206.005
5,1.01.04,Estoques,629.601,617.289
6,1.01.06,Tributos a Recuperar,92.690,80.862
7,1.01.08,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Outros,79.343,64.382
9,1.01.08.03.01,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Outras contas,53.490,39.511
11,1.01.08.03.04,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,Ativo Não Circulante,900.344,717.335
13,1.02.01,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Outras contas a receber,904,1.205
20,1.02.02,Investimentos,6.505,5.934
21,1.02.03,Imobilizado,786.627,619.172
22,1.02.04,Intangível,2.268,1.288

In [556]:
df.insert(1, 'Descrição da Conta 1', None)

In [557]:
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,None,Ativo Total,2.775.558,2.369.285
1,1.01,None,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,None,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,None,Contas a Receber,258.104,206.005
4,1.01.03.01,None,Clientes,258.104,206.005
5,1.01.04,None,Estoques,629.601,617.289
6,1.01.06,None,Tributos a Recuperar,92.690,80.862
7,1.01.08,None,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,None,Outros,79.343,64.382
9,1.01.08.03.01,None,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,None,Outras contas,53.490,39.511
11,1.01.08.03.04,None,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,None,Ativo Não Circulante,900.344,717.335
13,1.02.01,None,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,None,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,None,Créditos com Controladas,12.773,9.730
16,1.02.01.10,None,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,None,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,None,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,None,Outras contas a receber,904,1.205
20,1.02.02,None,Investimentos,6.505,5.934
21,1.02.03,None,Imobilizado,786.627,619.172
22,1.02.04,None,Intangível,2.268,1.288

In [558]:
df['Código da Conta']

0                 1
1              1.01
2           1.01.01
3           1.01.03
4        1.01.03.01
5           1.01.04
6           1.01.06
7           1.01.08
8        1.01.08.03
9     1.01.08.03.01
10    1.01.08.03.03
11    1.01.08.03.04
12             1.02
13          1.02.01
14       1.02.01.09
15    1.02.01.09.02
16       1.02.01.10
17    1.02.01.10.03
18    1.02.01.10.04
19    1.02.01.10.05
20          1.02.02
21          1.02.03
22          1.02.04
Name: Código da Conta, dtype: object

In [559]:
#df['Código da Conta'].apply(lambda string: string.startswith('1'))

In [560]:
CD_CONTA_1 = df['Código da Conta'].apply(lambda string: string[:1])
CD_CONTA_1

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
Name: Código da Conta, dtype: object

In [561]:
DS_CONTA_1 = pd.merge(CD_CONTA_1, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_1

   Código da Conta Descrição da Conta
0                1        Ativo Total
1                1        Ativo Total
2                1        Ativo Total
3                1        Ativo Total
4                1        Ativo Total
5                1        Ativo Total
6                1        Ativo Total
7                1        Ativo Total
8                1        Ativo Total
9                1        Ativo Total
10               1        Ativo Total
11               1        Ativo Total
12               1        Ativo Total
13               1        Ativo Total
14               1        Ativo Total
15               1        Ativo Total
16               1        Ativo Total
17               1        Ativo Total
18               1        Ativo Total
19               1        Ativo Total
20               1        Ativo Total
21               1        Ativo Total
22               1        Ativo Total

In [562]:
df['Descrição da Conta 1'] = DS_CONTA_1['Descrição da Conta']

In [563]:
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,Ativo Total,Ativo Total,2.775.558,2.369.285
1,1.01,Ativo Total,Ativo Circulante,1.875.214,1.651.950
2,1.01.01,Ativo Total,Caixa e Equivalentes de Caixa,815.476,683.412
3,1.01.03,Ativo Total,Contas a Receber,258.104,206.005
4,1.01.03.01,Ativo Total,Clientes,258.104,206.005
5,1.01.04,Ativo Total,Estoques,629.601,617.289
6,1.01.06,Ativo Total,Tributos a Recuperar,92.690,80.862
7,1.01.08,Ativo Total,Outros Ativos Circulantes,79.343,64.382
8,1.01.08.03,Ativo Total,Outros,79.343,64.382
9,1.01.08.03.01,Ativo Total,Ativos financeiros,12.153,16.059
10,1.01.08.03.03,Ativo Total,Outras contas,53.490,39.511
11,1.01.08.03.04,Ativo Total,Instrumentos financeiros derivativos,13.700,8.812
12,1.02,Ativo Total,Ativo Não Circulante,900.344,717.335
13,1.02.01,Ativo Total,Ativo Realizável a Longo Prazo,104.944,90.941
14,1.02.01.09,Ativo Total,Créditos com Partes Relacionadas,12.773,9.730
15,1.02.01.09.02,Ativo Total,Créditos com Controladas,12.773,9.730
16,1.02.01.10,Ativo Total,Outros Ativos Não Circulantes,92.171,81.211
17,1.02.01.10.03,Ativo Total,Tributos a recuperar,90.374,80.006
18,1.02.01.10.04,Ativo Total,Instrumentos financeiros derivativos,893,0
19,1.02.01.10.05,Ativo Total,Outras contas a receber,904,1.205
20,1.02.02,Ativo Total,Investimentos,6.505,5.934
21,1.02.03,Ativo Total,Imobilizado,786.627,619.172
22,1.02.04,Ativo Total,Intangível,2.268,1.288

In [564]:
df.iloc[higher_tier_rows(df)]

,Código da Conta,Descrição da Conta 1,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1,Ativo Total,Ativo Total,2.775.558,2.369.285

In [565]:
df = df.drop(df.index[higher_tier_rows(df)])
df = df.reset_index(drop=True)

In [566]:
df.insert(2, 'Descrição da Conta 2', None)

In [567]:
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1.01,Ativo Total,None,Ativo Circulante,1.875.214,1.651.950
1,1.01.01,Ativo Total,None,Caixa e Equivalentes de Caixa,815.476,683.412
2,1.01.03,Ativo Total,None,Contas a Receber,258.104,206.005
3,1.01.03.01,Ativo Total,None,Clientes,258.104,206.005
4,1.01.04,Ativo Total,None,Estoques,629.601,617.289
5,1.01.06,Ativo Total,None,Tributos a Recuperar,92.690,80.862
6,1.01.08,Ativo Total,None,Outros Ativos Circulantes,79.343,64.382
7,1.01.08.03,Ativo Total,None,Outros,79.343,64.382
8,1.01.08.03.01,Ativo Total,None,Ativos financeiros,12.153,16.059
9,1.01.08.03.03,Ativo Total,None,Outras contas,53.490,39.511
10,1.01.08.03.04,Ativo Total,None,Instrumentos financeiros derivativos,13.700,8.812
11,1.02,Ativo Total,None,Ativo Não Circulante,900.344,717.335
12,1.02.01,Ativo Total,None,Ativo Realizável a Longo Prazo,104.944,90.941
13,1.02.01.09,Ativo Total,None,Créditos com Partes Relacionadas,12.773,9.730
14,1.02.01.09.02,Ativo Total,None,Créditos com Controladas,12.773,9.730
15,1.02.01.10,Ativo Total,None,Outros Ativos Não Circulantes,92.171,81.211
16,1.02.01.10.03,Ativo Total,None,Tributos a recuperar,90.374,80.006
17,1.02.01.10.04,Ativo Total,None,Instrumentos financeiros derivativos,893,0
18,1.02.01.10.05,Ativo Total,None,Outras contas a receber,904,1.205
19,1.02.02,Ativo Total,None,Investimentos,6.505,5.934
20,1.02.03,Ativo Total,None,Imobilizado,786.627,619.172
21,1.02.04,Ativo Total,None,Intangível,2.268,1.288

In [568]:
CD_CONTA_2 = df['Código da Conta'].apply(lambda string: string[:4])
CD_CONTA_2

0     1.01
1     1.01
2     1.01
3     1.01
4     1.01
5     1.01
6     1.01
7     1.01
8     1.01
9     1.01
10    1.01
11    1.02
12    1.02
13    1.02
14    1.02
15    1.02
16    1.02
17    1.02
18    1.02
19    1.02
20    1.02
21    1.02
Name: Código da Conta, dtype: object

In [569]:
DS_CONTA_2 = pd.merge(CD_CONTA_2, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_2

   Código da Conta    Descrição da Conta
0             1.01      Ativo Circulante
1             1.01      Ativo Circulante
2             1.01      Ativo Circulante
3             1.01      Ativo Circulante
4             1.01      Ativo Circulante
5             1.01      Ativo Circulante
6             1.01      Ativo Circulante
7             1.01      Ativo Circulante
8             1.01      Ativo Circulante
9             1.01      Ativo Circulante
10            1.01      Ativo Circulante
11            1.02  Ativo Não Circulante
12            1.02  Ativo Não Circulante
13            1.02  Ativo Não Circulante
14            1.02  Ativo Não Circulante
15            1.02  Ativo Não Circulante
16            1.02  Ativo Não Circulante
17            1.02  Ativo Não Circulante
18            1.02  Ativo Não Circulante
19            1.02  Ativo Não Circulante
20            1.02  Ativo Não Circulante
21            1.02  Ativo Não Circulante

In [570]:
df['Descrição da Conta 2'] = DS_CONTA_2['Descrição da Conta']
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1.01,Ativo Total,Ativo Circulante,Ativo Circulante,1.875.214,1.651.950
1,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,815.476,683.412
2,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,258.104,206.005
3,1.01.03.01,Ativo Total,Ativo Circulante,Clientes,258.104,206.005
4,1.01.04,Ativo Total,Ativo Circulante,Estoques,629.601,617.289
5,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,92.690,80.862
6,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,79.343,64.382
7,1.01.08.03,Ativo Total,Ativo Circulante,Outros,79.343,64.382
8,1.01.08.03.01,Ativo Total,Ativo Circulante,Ativos financeiros,12.153,16.059
9,1.01.08.03.03,Ativo Total,Ativo Circulante,Outras contas,53.490,39.511
10,1.01.08.03.04,Ativo Total,Ativo Circulante,Instrumentos financeiros derivativos,13.700,8.812
11,1.02,Ativo Total,Ativo Não Circulante,Ativo Não Circulante,900.344,717.335
12,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,104.944,90.941
13,1.02.01.09,Ativo Total,Ativo Não Circulante,Créditos com Partes Relacionadas,12.773,9.730
14,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Créditos com Controladas,12.773,9.730
15,1.02.01.10,Ativo Total,Ativo Não Circulante,Outros Ativos Não Circulantes,92.171,81.211
16,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Tributos a recuperar,90.374,80.006
17,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Instrumentos financeiros derivativos,893,0
18,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Outras contas a receber,904,1.205
19,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,6.505,5.934
20,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,786.627,619.172
21,1.02.04,Ativo Total,Ativo Não Circulante,Intangível,2.268,1.288

In [571]:
df.iloc[higher_tier_rows(df)]

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1.01,Ativo Total,Ativo Circulante,Ativo Circulante,1.875.214,1.651.950
11,1.02,Ativo Total,Ativo Não Circulante,Ativo Não Circulante,900.344,717.335

In [572]:
df = df.drop(df.index[higher_tier_rows(df)])
df = df.reset_index(drop=True)

In [573]:
df.insert(3, 'Descrição da Conta 3', None)
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1.01.01,Ativo Total,Ativo Circulante,None,Caixa e Equivalentes de Caixa,815.476,683.412
1,1.01.03,Ativo Total,Ativo Circulante,None,Contas a Receber,258.104,206.005
2,1.01.03.01,Ativo Total,Ativo Circulante,None,Clientes,258.104,206.005
3,1.01.04,Ativo Total,Ativo Circulante,None,Estoques,629.601,617.289
4,1.01.06,Ativo Total,Ativo Circulante,None,Tributos a Recuperar,92.690,80.862
5,1.01.08,Ativo Total,Ativo Circulante,None,Outros Ativos Circulantes,79.343,64.382
6,1.01.08.03,Ativo Total,Ativo Circulante,None,Outros,79.343,64.382
7,1.01.08.03.01,Ativo Total,Ativo Circulante,None,Ativos financeiros,12.153,16.059
8,1.01.08.03.03,Ativo Total,Ativo Circulante,None,Outras contas,53.490,39.511
9,1.01.08.03.04,Ativo Total,Ativo Circulante,None,Instrumentos financeiros derivativos,13.700,8.812
10,1.02.01,Ativo Total,Ativo Não Circulante,None,Ativo Realizável a Longo Prazo,104.944,90.941
11,1.02.01.09,Ativo Total,Ativo Não Circulante,None,Créditos com Partes Relacionadas,12.773,9.730
12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,None,Créditos com Controladas,12.773,9.730
13,1.02.01.10,Ativo Total,Ativo Não Circulante,None,Outros Ativos Não Circulantes,92.171,81.211
14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,None,Tributos a recuperar,90.374,80.006
15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,None,Instrumentos financeiros derivativos,893,0
16,1.02.01.10.05,Ativo Total,Ativo Não Circulante,None,Outras contas a receber,904,1.205
17,1.02.02,Ativo Total,Ativo Não Circulante,None,Investimentos,6.505,5.934
18,1.02.03,Ativo Total,Ativo Não Circulante,None,Imobilizado,786.627,619.172
19,1.02.04,Ativo Total,Ativo Não Circulante,None,Intangível,2.268,1.288

In [574]:
CD_CONTA_3 = df['Código da Conta'].apply(lambda string: string[:7])
CD_CONTA_3

0     1.01.01
1     1.01.03
2     1.01.03
3     1.01.04
4     1.01.06
5     1.01.08
6     1.01.08
7     1.01.08
8     1.01.08
9     1.01.08
10    1.02.01
11    1.02.01
12    1.02.01
13    1.02.01
14    1.02.01
15    1.02.01
16    1.02.01
17    1.02.02
18    1.02.03
19    1.02.04
Name: Código da Conta, dtype: object

In [575]:
DS_CONTA_3 = pd.merge(CD_CONTA_3, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_3

   Código da Conta              Descrição da Conta
0          1.01.01   Caixa e Equivalentes de Caixa
1          1.01.03                Contas a Receber
2          1.01.03                Contas a Receber
3          1.01.04                        Estoques
4          1.01.06            Tributos a Recuperar
5          1.01.08       Outros Ativos Circulantes
6          1.01.08       Outros Ativos Circulantes
7          1.01.08       Outros Ativos Circulantes
8          1.01.08       Outros Ativos Circulantes
9          1.01.08       Outros Ativos Circulantes
10         1.02.01  Ativo Realizável a Longo Prazo
11         1.02.01  Ativo Realizável a Longo Prazo
12         1.02.01  Ativo Realizável a Longo Prazo
13         1.02.01  Ativo Realizável a Longo Prazo
14         1.02.01  Ativo Realizável a Longo Prazo
15         1.02.01  Ativo Realizável a Longo Prazo
16         1.02.01  Ativo Realizável a Longo Prazo
17         1.02.02                   Investimentos
18         1.02.03                     Imobilizado
19         1.02.04                      Intangível

In [576]:
df['Descrição da Conta 3'] = DS_CONTA_3['Descrição da Conta']
df

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Caixa e Equivalentes de Caixa,815.476,683.412
1,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,Contas a Receber,258.104,206.005
2,1.01.03.01,Ativo Total,Ativo Circulante,Contas a Receber,Clientes,258.104,206.005
3,1.01.04,Ativo Total,Ativo Circulante,Estoques,Estoques,629.601,617.289
4,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,Tributos a Recuperar,92.690,80.862
5,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
6,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,79.343,64.382
7,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Ativos financeiros,12.153,16.059
8,1.01.08.03.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outras contas,53.490,39.511
9,1.01.08.03.04,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Instrumentos financeiros derivativos,13.700,8.812
10,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941
11,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,12.773,9.730
12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Controladas,12.773,9.730
13,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,92.171,81.211
14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Tributos a recuperar,90.374,80.006
15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Instrumentos financeiros derivativos,893,0
16,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outras contas a receber,904,1.205
17,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,Investimentos,6.505,5.934
18,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,Imobilizado,786.627,619.172
19,1.02.04,Ativo Total,Ativo Não Circulante,Intangível,Intangível,2.268,1.288

In [577]:
df.iloc[higher_tier_rows(df)]

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Caixa e Equivalentes de Caixa,815.476,683.412
1,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,Contas a Receber,258.104,206.005
3,1.01.04,Ativo Total,Ativo Circulante,Estoques,Estoques,629.601,617.289
4,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,Tributos a Recuperar,92.690,80.862
5,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
10,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941
17,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,Investimentos,6.505,5.934
18,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,Imobilizado,786.627,619.172
19,1.02.04,Ativo Total,Ativo Não Circulante,Intangível,Intangível,2.268,1.288

In [578]:
DS_CONTA_3

   Código da Conta              Descrição da Conta
0          1.01.01   Caixa e Equivalentes de Caixa
1          1.01.03                Contas a Receber
2          1.01.03                Contas a Receber
3          1.01.04                        Estoques
4          1.01.06            Tributos a Recuperar
5          1.01.08       Outros Ativos Circulantes
6          1.01.08       Outros Ativos Circulantes
7          1.01.08       Outros Ativos Circulantes
8          1.01.08       Outros Ativos Circulantes
9          1.01.08       Outros Ativos Circulantes
10         1.02.01  Ativo Realizável a Longo Prazo
11         1.02.01  Ativo Realizável a Longo Prazo
12         1.02.01  Ativo Realizável a Longo Prazo
13         1.02.01  Ativo Realizável a Longo Prazo
14         1.02.01  Ativo Realizável a Longo Prazo
15         1.02.01  Ativo Realizável a Longo Prazo
16         1.02.01  Ativo Realizável a Longo Prazo
17         1.02.02                   Investimentos
18         1.02.03                     Imobilizado
19         1.02.04                      Intangível

In [579]:
DS_CONTA_3.shift(-1)

   Código da Conta              Descrição da Conta
0          1.01.03                Contas a Receber
1          1.01.03                Contas a Receber
2          1.01.04                        Estoques
3          1.01.06            Tributos a Recuperar
4          1.01.08       Outros Ativos Circulantes
5          1.01.08       Outros Ativos Circulantes
6          1.01.08       Outros Ativos Circulantes
7          1.01.08       Outros Ativos Circulantes
8          1.01.08       Outros Ativos Circulantes
9          1.02.01  Ativo Realizável a Longo Prazo
10         1.02.01  Ativo Realizável a Longo Prazo
11         1.02.01  Ativo Realizável a Longo Prazo
12         1.02.01  Ativo Realizável a Longo Prazo
13         1.02.01  Ativo Realizável a Longo Prazo
14         1.02.01  Ativo Realizável a Longo Prazo
15         1.02.01  Ativo Realizável a Longo Prazo
16         1.02.02                   Investimentos
17         1.02.03                     Imobilizado
18         1.02.04                      Intangível
19             NaN                             NaN

In [580]:
bool_mask = (DS_CONTA_3[CD_CONTA] == DS_CONTA_3.shift(-1)[CD_CONTA])
bool_mask

0     False
1      True
2     False
3     False
4     False
5      True
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17    False
18    False
19    False
Name: Código da Conta, dtype: bool

In [581]:
df.where(bool_mask)

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,Contas a Receber,258.104,206.005
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
6,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,79.343,64.382
7,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Ativos financeiros,12.153,16.059
8,1.01.08.03.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outras contas,53.490,39.511
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941
11,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,12.773,9.730
12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Controladas,12.773,9.730
13,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,92.171,81.211
14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Tributos a recuperar,90.374,80.006
15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Instrumentos financeiros derivativos,893,0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [582]:
df.where(bool_mask).dropna()

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
1,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,Contas a Receber,258.104,206.005
5,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
6,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,79.343,64.382
7,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Ativos financeiros,12.153,16.059
8,1.01.08.03.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outras contas,53.490,39.511
10,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941
11,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,12.773,9.730
12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Controladas,12.773,9.730
13,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,92.171,81.211
14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Tributos a recuperar,90.374,80.006
15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Instrumentos financeiros derivativos,893,0

In [583]:
masked_df = df.where(bool_mask).dropna()
len_key = [len(key) for key in masked_df[CD_CONTA]]   # len_key = length of key
masked_df.insert(1, 'Length of Key', len_key )

In [584]:
masked_df

,Código da Conta,Length of Key,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
1,1.01.03,7,Ativo Total,Ativo Circulante,Contas a Receber,Contas a Receber,258.104,206.005
5,1.01.08,7,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
6,1.01.08.03,10,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,79.343,64.382
7,1.01.08.03.01,13,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Ativos financeiros,12.153,16.059
8,1.01.08.03.03,13,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outras contas,53.490,39.511
10,1.02.01,7,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941
11,1.02.01.09,10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,12.773,9.730
12,1.02.01.09.02,13,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Controladas,12.773,9.730
13,1.02.01.10,10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,92.171,81.211
14,1.02.01.10.03,13,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Tributos a recuperar,90.374,80.006
15,1.02.01.10.04,13,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Instrumentos financeiros derivativos,893,0

In [585]:
min_len = np.array(masked_df['Length of Key']).min()
ind_min_len = masked_df[masked_df['Length of Key']==min_len].index
ind_min_len

Int64Index([1, 5, 10], dtype='int64')

In [586]:
df.iloc[ind_min_value]

,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
1,1.01.03,Ativo Total,Ativo Circulante,Contas a Receber,Contas a Receber,258.104,206.005
5,1.01.08,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros Ativos Circulantes,79.343,64.382
10,1.02.01,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Ativo Realizável a Longo Prazo,104.944,90.941

In [587]:
df = df.drop(ind_min_value)
df = df.reset_index()
df

,index,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,0,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Caixa e Equivalentes de Caixa,815.476,683.412
1,2,1.01.03.01,Ativo Total,Ativo Circulante,Contas a Receber,Clientes,258.104,206.005
2,3,1.01.04,Ativo Total,Ativo Circulante,Estoques,Estoques,629.601,617.289
3,4,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,Tributos a Recuperar,92.690,80.862
4,6,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,79.343,64.382
5,7,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Ativos financeiros,12.153,16.059
6,8,1.01.08.03.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outras contas,53.490,39.511
7,9,1.01.08.03.04,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Instrumentos financeiros derivativos,13.700,8.812
8,11,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,12.773,9.730
9,12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Controladas,12.773,9.730
10,13,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,92.171,81.211
11,14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Tributos a recuperar,90.374,80.006
12,15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Instrumentos financeiros derivativos,893,0
13,16,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outras contas a receber,904,1.205
14,17,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,Investimentos,6.505,5.934
15,18,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,Imobilizado,786.627,619.172
16,19,1.02.04,Ativo Total,Ativo Não Circulante,Intangível,Intangível,2.268,1.288

In [588]:
df.insert(5, 'Descrição da Conta 4', None)
df

,index,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta 4,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,0,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,None,Caixa e Equivalentes de Caixa,815.476,683.412
1,2,1.01.03.01,Ativo Total,Ativo Circulante,Contas a Receber,None,Clientes,258.104,206.005
2,3,1.01.04,Ativo Total,Ativo Circulante,Estoques,None,Estoques,629.601,617.289
3,4,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,None,Tributos a Recuperar,92.690,80.862
4,6,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,None,Outros,79.343,64.382
5,7,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,None,Ativos financeiros,12.153,16.059
6,8,1.01.08.03.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,None,Outras contas,53.490,39.511
7,9,1.01.08.03.04,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,None,Instrumentos financeiros derivativos,13.700,8.812
8,11,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,None,Créditos com Partes Relacionadas,12.773,9.730
9,12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,None,Créditos com Controladas,12.773,9.730
10,13,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,None,Outros Ativos Não Circulantes,92.171,81.211
11,14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,None,Tributos a recuperar,90.374,80.006
12,15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,None,Instrumentos financeiros derivativos,893,0
13,16,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,None,Outras contas a receber,904,1.205
14,17,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,None,Investimentos,6.505,5.934
15,18,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,None,Imobilizado,786.627,619.172
16,19,1.02.04,Ativo Total,Ativo Não Circulante,Intangível,None,Intangível,2.268,1.288

In [589]:
CD_CONTA_4 = df['Código da Conta'].apply(lambda string: string[:10])
CD_CONTA_4

0        1.01.01
1     1.01.03.01
2        1.01.04
3        1.01.06
4     1.01.08.03
5     1.01.08.03
6     1.01.08.03
7     1.01.08.03
8     1.02.01.09
9     1.02.01.09
10    1.02.01.10
11    1.02.01.10
12    1.02.01.10
13    1.02.01.10
14       1.02.02
15       1.02.03
16       1.02.04
Name: Código da Conta, dtype: object

In [590]:
DS_CONTA_4 = pd.merge(CD_CONTA_4, df[['Código da Conta', 'Descrição da Conta']], how='left')
DS_CONTA_4

   Código da Conta                Descrição da Conta
0          1.01.01     Caixa e Equivalentes de Caixa
1       1.01.03.01                          Clientes
2          1.01.04                          Estoques
3          1.01.06              Tributos a Recuperar
4       1.01.08.03                            Outros
5       1.01.08.03                            Outros
6       1.01.08.03                            Outros
7       1.01.08.03                            Outros
8       1.02.01.09  Créditos com Partes Relacionadas
9       1.02.01.09  Créditos com Partes Relacionadas
10      1.02.01.10     Outros Ativos Não Circulantes
11      1.02.01.10     Outros Ativos Não Circulantes
12      1.02.01.10     Outros Ativos Não Circulantes
13      1.02.01.10     Outros Ativos Não Circulantes
14         1.02.02                     Investimentos
15         1.02.03                       Imobilizado
16         1.02.04                        Intangível

In [591]:
df['Descrição da Conta 4'] = DS_CONTA_4['Descrição da Conta']
df

,index,Código da Conta,Descrição da Conta 1,Descrição da Conta 2,Descrição da Conta 3,Descrição da Conta 4,Descrição da Conta,Trimestre Atual,Exercício Anterior
0,0,1.01.01,Ativo Total,Ativo Circulante,Caixa e Equivalentes de Caixa,Caixa e Equivalentes de Caixa,Caixa e Equivalentes de Caixa,815.476,683.412
1,2,1.01.03.01,Ativo Total,Ativo Circulante,Contas a Receber,Clientes,Clientes,258.104,206.005
2,3,1.01.04,Ativo Total,Ativo Circulante,Estoques,Estoques,Estoques,629.601,617.289
3,4,1.01.06,Ativo Total,Ativo Circulante,Tributos a Recuperar,Tributos a Recuperar,Tributos a Recuperar,92.690,80.862
4,6,1.01.08.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,Outros,79.343,64.382
5,7,1.01.08.03.01,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,Ativos financeiros,12.153,16.059
6,8,1.01.08.03.03,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,Outras contas,53.490,39.511
7,9,1.01.08.03.04,Ativo Total,Ativo Circulante,Outros Ativos Circulantes,Outros,Instrumentos financeiros derivativos,13.700,8.812
8,11,1.02.01.09,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,Créditos com Partes Relacionadas,12.773,9.730
9,12,1.02.01.09.02,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Créditos com Partes Relacionadas,Créditos com Controladas,12.773,9.730
10,13,1.02.01.10,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,Outros Ativos Não Circulantes,92.171,81.211
11,14,1.02.01.10.03,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,Tributos a recuperar,90.374,80.006
12,15,1.02.01.10.04,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,Instrumentos financeiros derivativos,893,0
13,16,1.02.01.10.05,Ativo Total,Ativo Não Circulante,Ativo Realizável a Longo Prazo,Outros Ativos Não Circulantes,Outras contas a receber,904,1.205
14,17,1.02.02,Ativo Total,Ativo Não Circulante,Investimentos,Investimentos,Investimentos,6.505,5.934
15,18,1.02.03,Ativo Total,Ativo Não Circulante,Imobilizado,Imobilizado,Imobilizado,786.627,619.172
16,19,1.02.04,Ativo Total,Ativo Não Circulante,Intangível,Intangível,Intangível,2.268,1.288